.swiper {
    width: 100%;
    float: left;
  }
  /* .swiper-pagination-bullet-active{
    color:red;
  } */
/* .tabContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */
  